@import url('./design-tokens.css');
body {
  margin: 0;
  font-family: var(--font-nunito), Arial, sans-serif;
  background: var(--color-ffffff);
  color: var(--color-252525);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
